body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", Avenir, Helvetica, sans-serif;
  color: #555;
}

#content {
  margin: 0 auto;
  max-width: 600px;
  color: #222;
}

strong, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-weight: 500;
}

h2 {
  margin-bottom: .2em;
}

p {
  margin-top: .2em;
}

a {
  color: #418497;
  text-decoration: none;
}

pre {
  overflow: auto;
}

#page-header {
  padding: 80px 40px;
  background-color: #f5ce55;
  color: #111;
  text-align: center;
  margin-bottom: 40px;
}

#page-header a {
  color: #111;
  text-decoration: none;
}

#page-header h1 {
  font-weight: 600;
  font-size: 30pt;
  margin: 60px 0;
  letter-spacing: -1px;
}


.sidebar {
  width: 150px;
  float: right;
}

.sidebar img {
  max-width: 100%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

#page-footer {
  font-size: 14px;
  padding: 20px 0;
  text-align: center;
}

.debug {
  background-color: #444;
  color: #eee;
  padding: 20px;
}

.debug h4 {
  text-align: center;
  font-size: 24px;
}

.debug pre {
  font-family: Menlo, monospace;
  max-width: 900px;
  margin: 0 auto;
  overflow: auto;
  font-weight: 500;
}
