#logo
  .bkts-icon
    display block
    position relative
    // top .1em
    vertical-align middle

  a
    color #444

    &:hover
      transition all 100ms ease-out
      color $primary
      text-decoration none

.version-badge
  font-size 12px
  border-radius 3px
  border 2px solid #ccc
  padding .15em .4em
  margin-bottom 0 0 .4em
  color #999
  vertical-align top
  font-weight 500
  display inline-block
  font-family $sans

.btn-menu
  margin-top 22px

.nav-primary
  > li > a
    padding-left 40px

  li:active
    position relative
    top 1px


  a:first-child
    padding-right 40px
    white-space nowrap
    overflow hidden
    text-overflow ellipsis


  a:first-child .icon
    position absolute
    left 8px
    top 8px
    font-size 24px
    margin-right 4px
    vertical-align middle

  .icon
    color #888

  .bucket-add
    position absolute
    top 0
    right 0
    padding-left 15px

    .icon
      top 2px
      position relative
      font-size 13px

  li.divider
    border-bottom 1px solid rgba($primary, .15)
    margin-left 40px

  li.active
    .icon
      color #fff

    .bucket-add:hover
      background-color rgba(#fff, .2) !important

addColor($name, $color)
  .color-{$name}, .nav-primary > .bucket.color-{$name} > a, .bucket.color-{$name} .icon
    color $color
  .swatches.colors > .{$name}, .nav-primary > .color-{$name}.active > a
    background-color $color
  .nav-primary > .color-{$name}.active > a:hover
      background-color lighten($color, 5)

addColor('teal', $teal)
addColor('blue', $blue)
addColor('red', $red)
addColor('orange', $orange)
addColor('yellow', $yellow)
addColor('purple', $purple)

.nav-primary > .bucket.active > a
  color #fff

.usernav .avatar
  transform scale(.8)
  transform-origin 0 50%
  @extend .nav-primary a:first-child .icon
  top 4px
  z-index 10
