// Login

.loginView
  h1
    margin-top 80px
  
  .buckets-icon
    font-size 60px

// Buckets

.swatches
  overflow hidden

.swatches > div
  width 30px
  height 30px
  font-size 24px
  text-align center
  float left
  margin 0 10px 10px 0
  position relative
  cursor pointer

.swatches.icons
  div
    padding 2px
    opacity .5
  .selected
    opacity 1

.swatches.colors
  .selected:after
    display block
    content ''
    position absolute
    top 40%
    left 40%
    background-color #fff
    border-radius 100%
    width 20%
    height 20%

// Routes

.routeEdit
  border-radius 2px
  background-color $eee

.bkts-wildcard
  border-radius 2px
  background-color rgba($primary, .3)
  padding 0 6px