// Login

.loginView
  text-align center
  h3
    margin-bottom 10px

  #logo
    margin 60px auto 0px
    position relative

  #logo img
    display block
    width 100px
    height auto
    margin 0 auto

  #logo span
    display none

// Buckets

.swatches
  overflow hidden

.swatches > div
  width 30px
  height 30px
  font-size 24px
  text-align center
  float left
  margin 0 10px 10px 0
  position relative
  cursor pointer

.swatches.icons
  div
    padding 2px
    opacity .5
  .selected
    opacity 1

.swatches.colors
  .selected:after
    display block
    content ''
    position absolute
    top 40%
    left 40%
    background-color #fff
    border-radius 100%
    width 20%
    height 20%

.icon-preview
  font-size 90px

// Routes

.routeEdit
  border-radius 2px
  background-color $eee

.bkts-wildcard, code
  font-weight 500

.bkts-wildcard
  padding 0 6px
  border-radius 2px

.bkts-wildcard-optional
  @extend .bkts-wildcard
  background-color rgba($primary, .15)
  darken($primary, 10)
  color #999

.bkts-wildcard-param
  @extend .bkts-wildcard
  background-color rgba($primary, .3)
  darken($primary, 30)

.bkts-wildcard-catchall
  @extend .bkts-wildcard
  color $primary

.route
  position relative
  padding-left 40px

  h2 a:hover
    text-decoration none
  .btn-icon
    opacity 0
    transition all 200ms ease-in-out
    transform scale(.8)
    position absolute
    top 0em
    left -10px
  &:hover .btn-icon
    opacity 1

// Entries

.entry-publish
  padding-top 15px
  border-top 1px solid #eee
  margin-top 10px
