// Note: Most basic variables are in LESS at bootstrap.less

@import 'nib'

$primary = #87cdc2

$red = #df4949
$blue = #395768
$orange = #e27a3f
$yellow = #deb342
$teal = #45b29d
$purple = #825a7b

$sans = 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, 'Segoe UI', Segoe, Roboto, sans-serif

body
  display table
  width 100%
  display flex
  min-height 100vh
  flex-direction column

#bkts-content
  flex 1

.avatar
  vertical-align middle
  width 30px
  height 30px
  background-size cover
  border-radius 20px
  display inline-block

#bkts-hdr
  color #555
  padding 5px 0

.form-control:focus
  box-shadow none !important

.btn .icon
  font-size 24px
  vertical-align middle
  line-height .95em

hr.tiny
  width 5%
  margin 8px auto
  border-bottom 1px solid #eee

.page
  h1
    margin-top 30px
    padding-bottom 10px
    border-bottom 1px solid rgba($primary, .3)

@import '_typography'
@import '_nav'
@import '_footer'
@import '_views'
