// Note: Most basic variables are in LESS at bootstrap.less

@import 'nib'

$primary = #edb91d

// $red = #dc2d2e
// $blue = #39a0a4
// $orange = #e45906
// $yellow = #edb91d
// $teal = #5aa97f
// $purple = #825a7b


// Flat UI Colors
// $red = #c0392b
// $green = #27ae60
// $blue = #2980b9
// $orange = #d35400
// $yellow = #f39c12
// $teal = #16a085
// $purple = #8e44ad
// $gray = #7f8c8d


// Material Design Colors
// $red = #e51c23
// $green = #8bc34a
// $blue = #03a9f4
// $orange = #ff5722
// $yellow = #f39c12
// $teal = #009688
// $purple = #8e44ad
// $gray = #9e9e9e


// Material Design 700
$red = #d01716
$green = #689f38
$blue = #0288d1
$orange = #f57c00
$yellow = #fbc02d
$teal = #009688
$purple = #7b1fa2
$gray = #9e9e9e

$sans = RobotoDraft, 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, 'Segoe UI', Segoe, Roboto, sans-serif

body
  background-color #fcfcfc
  width 100%
  overflow-x hidden
  display flex
  flex-direction column

#bkts-content
  flex 1

.avatar
  vertical-align middle
  width 30px
  height 30px
  background-size cover, cover
  border-radius 20px
  display inline-block

#bkts-hdr
  color #555
  padding 5px 0

  .pull-right a
    position relative
    z-index 20

.form-control
  border-width 2px
  box-shadow none

  &:focus
    box-shadow none !important

.btn-icon
  .icon
    font-size 24px
    vertical-align middle
    line-height inherit

  &:hover
    text-decoration none

  &:active
    position relative
    top 1px

hr.tiny
  width 5%
  margin 8px auto
  border-bottom 1px solid #eee

.page
  h1
    font-weight 300
    letter-spacing -1px
    margin-top 30px
    padding-bottom 10px
    border-bottom 3px solid rgba($primary, .5)
    color #888
    font-size 40px

@import '_typography'
@import '_nav'
@import '_footer'
@import '_views'
@import '_toastr'

.tab-pane
  padding-top 20px

.toolbar
  padding 8px
  background-color #f6f6f6
  border-bottom 1px solid #eee
  margin-bottom 4px

h4[data-toggle]
  cursor pointer

  .caret
    transition 200ms ease-out

  &.collapsed .caret
    transform rotate(-90deg)

.tooltip
  font-weight 500
  font-family $sans
  color #222

.userFields textarea.form-control
  font-size 14px

  @media (min-width: 400px)
    &
      // padding-top 12px
      font-size 16px
      line-height 20px

th
  font-weight 500

.has-slug
  border-radius bottom 0
  position relative
  z-index 5

.input-slug
  background-color #fcfcfc
  font-family Menlo, 'Courier New', monospace
  margin-top -2px
  border-radius top 0, bottom 6px
  color rgba(darken($primary, 40), .4)
  position relative
  z-index 2

  &:focus
    color darken($primary, 20)
    z-index 10

input[type="text"].form-control, textarea.form-control
  -webkit-appearance none

.nav-primary a:active, a.btn:not(.btn-link):active
  box-shadow rgba(#000, .2) 0 1px 4px
  transition box-shadow .15s ease-out

.input-sm, .input-lg
  padding-left 10px
  padding-right 10px

.nav-tabs
  font-weight 900

.btn-default
  background-color rgba(#fff, .5)

  &:hover
    background-color rgba(#fff, .9)

.pageBreadcrumb
  margin 10px 0
  background-color #f1f1f1


.tt-query
  width 300px
  outline none

.tt-hint
  color: #999

.tt-highlight
  background-color rgba(lighten($yellow, 30), .5)

.tt-dropdown-menu
  margin-top 12px
  padding 2px 0
  background-color #fff
  border 1px solid #ccc
  border 1px solid rgba(0, 0, 0, 0.2)
  border-radius 2px
  width 100%
  color #555

  .icon
    vertical-align middle
    display inline-block
    font-size 24px

.tt-suggestion
  padding: 3px 20px
  font-size: 18px
  line-height: 24px

.tt-suggestion.tt-cursor
  color #222
  background-color lighten($primary, 30)
  cursor pointer

.tt-suggestion p
  margin: 0

.tt-empty
  padding: 3px 20px
