body
  margin 30px
  background-color #f9f9f8
  color #917653
  font-family 'Avenir Next', Helvetica, sans-serif

a
  color #eb832e

h1
  color #111

h1 .buckets-icon
  position relative
  top .1em
  
.version-badge
  font-size .5em
  border-radius 3px
  border 2px solid #ddd
  padding .1em .4em
  color #888
  vertical-align middle
  font-weight 500
  display inline-block
  margin-left .2em

#bkts-content
  font-size 1.2em
  margin 120px 0
  text-align center