@charset "UTF-8";

@font-face {
  font-family: "buckets";
  src:url("fonts/buckets.eot");
  src:url("fonts/buckets.eot?#iefix") format("embedded-opentype"),
    url("fonts/buckets.woff") format("woff"),
    url("fonts/buckets.ttf") format("truetype"),
    url("fonts/buckets.svg#buckets") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "buckets" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="buckets-icon-"]:before,
[class*=" buckets-icon-"]:before {
  font-family: "buckets" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.buckets-icon-twitter:before {
  content: "a";
}
.buckets-icon-bullhorn:before {
  content: "b";
}
.buckets-icon-facebook:before {
  content: "c";
}
.buckets-icon-denied-block:before {
  content: "d";
}
.buckets-icon-bell:before {
  content: "e";
}
.buckets-icon-anchor:before {
  content: "f";
}
.buckets-icon-dropbox:before {
  content: "l";
}
.buckets-icon-eye-visible:before {
  content: "m";
}
.buckets-icon-eye-hidden:before {
  content: "n";
}
.buckets-icon-close-delete:before {
  content: "o";
}
.buckets-icon-location-arrow:before {
  content: "p";
}
.buckets-icon-paper-clip:before {
  content: "q";
}
.buckets-icon-remove:before {
  content: "r";
}
.buckets-icon-trash:before {
  content: "s";
}
.buckets-icon-tag:before {
  content: "t";
}
.buckets-icon-search:before {
  content: "v";
}
.buckets-icon-question:before {
  content: "w";
}
.buckets-icon-plus:before {
  content: "x";
}
.buckets-icon-bookmark-small:before {
  content: "y";
}
.buckets-icon-calendar-small:before {
  content: "z";
}
.buckets-icon-cursor-move:before {
  content: "B";
}
.buckets-icon-exclamation:before {
  content: "C";
}
.buckets-icon-check:before {
  content: "A";
}
.buckets-icon-circle:before {
  content: "D";
}
.buckets-icon-log-in:before {
  content: "E";
}
.buckets-icon-star-small:before {
  content: "u";
}
.buckets-icon-ellipsis:before {
  content: "F";
}
.buckets-icon-heart:before {
  content: "G";
}
.buckets-icon-information-circle:before {
  content: "H";
}
.buckets-icon-caret-down:before {
  content: "h";
}
.buckets-icon-caret-up:before {
  content: "i";
}
.buckets-icon-link:before {
  content: "g";
}
.buckets-icon-google-plus:before {
  content: "j";
}
.buckets-icon-github:before {
  content: "k";
}
.buckets-icon-edit:before {
  content: "I";
}
.buckets-icon-bookmark:before {
  content: "J";
}
.buckets-icon-palette:before {
  content: "K";
}
.buckets-icon-star:before {
  content: "L";
}
.buckets-icon-chat-bubble:before {
  content: "M";
}
.buckets-icon-megaphone:before {
  content: "N";
}
.buckets-icon-user:before {
  content: "O";
}
.buckets-icon-safe:before {
  content: "T";
}
.buckets-icon-calendar:before {
  content: "V";
}
.buckets-icon-briefcase:before {
  content: "Y";
}
.buckets-icon-globe:before {
  content: "Z";
}
.buckets-icon-direction-sign:before {
  content: "4";
}
.buckets-icon-power:before {
  content: "U";
}
.buckets-icon-call:before {
  content: "6";
}
.buckets-icon-shopping-bag:before {
  content: "7";
}
.buckets-icon-video-camera:before {
  content: "8";
}
.buckets-icon-camera-front:before {
  content: "P";
}
.buckets-icon-headphone:before {
  content: "Q";
}
.buckets-icon-cloud:before {
  content: "S";
}
.buckets-icon-goal:before {
  content: "9";
}
.buckets-icon-toolbox:before {
  content: "R";
}
.buckets-icon-map:before {
  content: "W";
}
.buckets-icon-setting-gear:before {
  content: "5";
}
.buckets-icon-watch:before {
  content: "!";
}
.buckets-icon-building:before {
  content: "\"";
}
.buckets-icon-database:before {
  content: "#";
}
.buckets-icon-card:before {
  content: "2";
}
.buckets-icon-add:before {
  content: "$";
}
.buckets-icon-script:before {
  content: "%";
}
.buckets-icon-html:before {
  content: "X";
}
