<div class="pull-right">
  {{#hasRole 'administrator'}}
  <a href="#add" class="btn btn-default">Add a user</a>
  {{/hasRole}}
</div>

<h1>Users</h1>

<div class="row">
  <div class="col-md-4 col-sm-5">

    {{#if items}}
      <ul class="nav nav-stacked nav-pills users">
      {{#each items}}
        <li><a href="/{{adminSegment}}/users/{{email}}"><strong>{{gravatar email_hash}} {{name}}</strong></a></li>
      {{/each}}
      </ul>
    {{/if}}
  </div>
  <hr class="visible-xs">
  <div class="col-md-8 col-sm-7 detail">

  </div>
</div>
