<div class="container">
  <h2>Congrats {{user.name}}, you’re logged in.</h2>
  <p>That’s about all we have for now, come back soon :P</p>
  <pre>USER ID: {{user.id}}</pre>
  <p><a class="noscript" href="/{{adminSegment}}/logout">Wanna log back out?</a></p>
</div>
