<h3>Hi {{user.name}} <img width="40" height="40" src="http://www.gravatar.com/avatar/{{user.email_hash}}"></h3>

<div class="container">
  <p>That’s about all we have for now, come back soon :P</p>
  <pre>USER ID: {{user.id}}</pre>
  <p><a class="noscript" href="/{{adminSegment}}/logout">Wanna log back out?</a></p>
</div>