<h3>Test handlebars template.</h3>
<a href="/admin/install/">Install Buckets »</a>

<ul>
{{#each things}}
  <li>{{thing}}</li>
{{/each}}
</ul>

<button>Test button</button>

{{#SOMETHING}}hrm{{/SOMETHING}}