<h3>Welcome to Buckets, let’s get started.</h3>
<a href="/admin/install/">Install Buckets »</a>

<ul>
{{#each things}}
  <li>{{thing}}</li>
{{/each}}
</ul>

<button>Test button</button>

{{#SOMETHING}}hrm{{/SOMETHING}}