<div class="row">
  <div class="col-md-4">
    <a href="#new" class="btn btn-default">New template</a>
  </div>
  <div class="col-md-8">
    <textarea name="code" rows="20" class="form-control code"></textarea>
  </div>
</div>