<div class="fallback">
  <p class="lead">
    This bucket doesn’t have any entries yet.
  </p>
  <a class="btn btn-primary" href="/{{adminSegment}}/buckets/{{bucket.slug}}/add">Add your first {{bucket.singular}}</a>
</div>
