<div class="row">
  <h1 class="page-title background-yellow">Buckets</h1>

  <div class="col-md-4 col-sm-6">
    <div class="panel">
      <div class="panel-body">
        <p class="lead">Buckets is an open-source CMS, built in Node.js, which is being actively developed by <a href="https://assembly.com/buckets" target="_blank">the community at Assembly</a>.</p>
      </div>
    </div>
  </div>
</div>
