<h1>Welcome to Buckets!</h1>

<div class="row">
  <div class="col-md-6">
    <p class="lead">Buckets is an open-source CMS, built in Node.js, which is being actively developed by <a href="https://assemblymade.com/buckets" target="_blank">the community at Assembly</a>.</p>
  </div>
</div>
