{{#unless length}}
  <h4>Add your first custom field</h4>
{{/unless}}

{{select 'fieldType' '' fieldTypes valueKey="value"}}
{{debug}}

<ul>
{{#each items}}
  <li>
    {{name}} <small>{{fieldType}}</small> <a href="#edit" class="btn btn-default btn-sm">Edit</a>
  </li>
{{/each}}
</ul>
