<h1>Define fields on {{name}}</h1>

<h4>Add a field</h4>
{{select 'fieldType' '' fieldTypes}}
<a href="#" class="btn btn-default btn-sm">Add field</a>

<br><br>

<div>
  <a href="/{{adminSegment}}/buckets/{{slug}}" class="btn btn-primary">Start adding content</a>
</div>
