<form class="container-fluid" action="/{{adminSegment}}/login" method="POST">
  <div class="col-md-4 col-md-offset-4">
    <h3>Please log in below:</h3>

    <div class="form-group">
      <input type="email" class="form-control" name="username" id="emailInput" placeholder="Email">
    </div>
    
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    
    <button class="btn btn-primary ladda-button" data-style="zoom-in" value="Blah" type="submit">Log in</button>
  </div>
</form>